
<app-analytics-side-menu></app-analytics-side-menu>
<div class="analytics-content" style="overflow: scroll;">

    <!--<div>Simple analytic page, this page is built by using Angular 4 with ng2-charts component. </div>-->
    <div style="padding-left: 40px">Welcome to an Airbnb analytic page, these data is from Airbnb survey. (May. 2017) 
        <br />data link: <a href="http://tomslee.net/airbnb-data-collection-get-the-data">http://tomslee.net/airbnb-data-collection-get-the-data</a>
        <br />1) Step 1: Select a city to start
         <select (change)="changeCity($event)">
            <option>select city</option>
            <option *ngFor="let cit of cities" >{{cit.name}}</option>
        </select>
        <br />2) Step 2: Hover to individual bar (neighborhoode) and click it to see more detail
    </div>
       

    <div style="padding: 20px 40px; clear: both">
        <div class="" style="text-align: center; font-size: 20px; color: #2C81C0">
            {{city}}
        </div>
    </div>

    <div style="padding: 0px 40px" *ngIf="city && rooms">
        <!--<div style="text-align: center">Pick any neighborhood by clicking chart</div>-->
        <div>
            <app-bar-chart [rooms]="rooms" (filteredElement)="GetRoomsByNeighborhood($event)">
            </app-bar-chart>
        </div>
    </div>

    <div style="background-color: #dadada; height: 1px; width: 100%; margin: 10px 0px;" *ngIf="city && rooms"></div>

    <div style="padding: 0px 40px" *ngIf="city && rooms">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center; font-size: 16px; color: #2C81C0; padding: 20px;">{{title}} ({{totalNumber}})</div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <app-entire-house [roomsByNeighborhood]="roomsByNeighborhood">
                </app-entire-house>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <app-private-room [roomsByNeighborhood]="roomsByNeighborhood">
                </app-private-room>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <app-shared-room [roomsByNeighborhood]="roomsByNeighborhood">
                </app-shared-room>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <app-average-price [roomsByNeighborhood]="roomsByNeighborhood">
                </app-average-price>
            </div>
        </div>
    </div>
</div>