<div class="slides">
    <div class="slide" id="slide-1">
      <div class="slide__bg"
           style="background-image: url('./assets/bio.JPG');
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover"></div>
      <div class="slide__content">
        <div class="slide__text">
          <h1 id="slide-1-title">Bio</h1>
          <p>I am </p>
          <p>I original </p>
        </div>
        <div class="slide__image">
          <!--<svg viewBox="0 0 400 425" width="400" height="425"><use xlink:href="#polaroid"></use></svg>-->
        </div>
      </div>
    </div>

    <div class="slide" id="slide-2">
      <div class="slide__bg" 
           style="background-image: url('./assets/career.JPG');
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover"
           ></div>
      <div class="slide__content">
        <div class="slide__text">
          <h1 id="slide-2-title">Career</h1>
          <p>Full Stack Web Developer</p>
          <p>
            I am a dedicated software developer who is interested in solving software challenges and
            learning new technologies. I am currently working with an IT consulting company,
            doing several projects, and helping clients solve their technical problems. 
            If you are interested in what I've been working on, please link to this page.
            <a routerLink="/resume" >see more..</a>
          </p>
        </div>
        <div class="slide__image">
          <!--<svg viewBox="0 0 400 425" width="400" height="425"><use xlink:href="#polaroid"></use></svg>-->
        </div>
      </div>
    </div>

    <div class="slide" id="slide-3">
      <div class="slide__bg"
           style="background-image: url('./assets/hobby.JPG');
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover"></div>
      <div class="slide__content">
        <div class="slide__text">
          <h1 id="slide-3-title">Hobby</h1>
          <p>Hobby Content</p>
          <p>&nbsp;</p>
        </div>
        <div class="slide__image">
          <!--<svg viewBox="0 0 400 425" width="400" height="425"><use xlink:href="#polaroid"></use></svg>-->
        </div>
      </div>
    </div>

     <div class="slide" id="slide-4">
      <div class="slide__bg"
           style="background-image: url('./assets/lives.JPG');
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover"></div>
      <div class="slide__content">
        <div class="slide__text">
          <h1 id="slide-4-title">Lives</h1>
          <p>Bacon ipsum dolor amet alcatra beef meatloaf brisket beef ribs meatball tenderloin shank ball tip ribeye pig pastrami filet mignon. Sirloin tail fatback venison shank salami. Picanha pastrami venison meatball kevin pork chop leberkas. Meatloaf tenderloin leberkas pancetta hamburger cow kielbasa, filet mignon tri-tip beef ribs.</p>
        </div>
        <div class="slide__image">
          <svg viewBox="0 0 400 425" width="400" height="425"><use xlink:href="#polaroid"></use></svg>
        </div>
      </div>
    </div>

   <!--<div class="slide" id="slide-5">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <div class="slide__text">
          <h1 id="slide-5-title">Slide 5 title</h1>
          <p>Bacon ipsum dolor amet alcatra beef meatloaf brisket beef ribs meatball tenderloin shank ball tip ribeye pig pastrami filet mignon. Sirloin tail fatback venison shank salami. Picanha pastrami venison meatball kevin pork chop leberkas. Meatloaf tenderloin leberkas pancetta hamburger cow kielbasa, filet mignon tri-tip beef ribs.</p>
        </div>
        <div class="slide__image">
          <svg viewBox="0 0 400 425" width="400" height="425"><use xlink:href="#polaroid"></use></svg>
        </div>
      </div>
    </div>

    <div class="slide" id="slide-6">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <div class="slide__text">
          <h1 id="slide-6-title">Slide 6 title</h1>
          <p>Bacon ipsum dolor amet alcatra beef meatloaf brisket beef ribs meatball tenderloin shank ball tip ribeye pig pastrami filet mignon. Sirloin tail fatback venison shank salami. Picanha pastrami venison meatball kevin pork chop leberkas. Meatloaf tenderloin leberkas pancetta hamburger cow kielbasa, filet mignon tri-tip beef ribs.</p>
        </div>
        <div class="slide__image">
          <svg viewBox="0 0 400 425" width="400" height="425"><use xlink:href="#polaroid"></use></svg>
        </div>
      </div>
    </div>-->

  </div>